<header></header>
<body>SMTH SMTH

<form method="post" action="/salvesta">

  Nimi <input type="text" name="name"> <br/>

  Agree to terms <input type="checkbox" name="agree">  <br/>


  <button type="submit">Saada</button>
</form>

</body>